.auth-container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.auth-image {
    flex: 1;
    background-image: url('../assets/CAR.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;

}

.auth-form {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}